* {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container h1 {
    text-align: center;
    color: rgb(116, 13, 39);
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 600;
}

.container h2 {
    text-align: center;
    color: rgb(17, 121, 13);
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
}

.card {
    margin: 30px;
    border: 2px solid black;
    align-items: center;
    background-color: rgb(191, 253, 219);
}

.card-img-top {
    border: 1px solid black;
}

.card-body {
    border: 3px solid brown;
}

.cards__items__body {
    margin: 20px 20px 0 20px;
    border: 1px solid brown;
    padding: 20px;
    font-size: 1em;
}

h3 {
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    color: brown;
    text-transform: uppercase;
}

.cards__item__body--price {
    font-size: 2em;
    padding-top: 20px;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    font-weight: 500;
    color: rgb(247, 247, 3);
    font-size: 1.4em;
}

.jumbotron {
    background-color: rgb(221, 250, 248);
}